<style>
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
  }

  .footer__columns {
    display: flex;
    justify-content: space-around;
    width: 100%
  }

  .footer__column h3 {
    margin: 0
  }

  .footer__column ul {
    list-style: none;
    margin-left: 0 !important;
  }

  .footer__column li {
    margin-left: 0 !important;
  }
  
  .footer__copyright {
    text-align: center;
  }
</style>

<div class="footer__container">
  <div class="md-copyright footer__columns">
    <div class="footer__column">
      <h3>Resources</h3>
      <div class="md-copyright__highlight">
        <ul>
          <li><a href="https://dev.twitch.tv/docs/api/" target="_blank" rel="noopener">Twitch API</a></li>
          <li><a href="https://api.ivr.fi/v2/docs/static/index.html" target="_blank" rel="noopener">IVR API</a></li>
          <li><a href="https://api.modscanner.com/docs" target="_blank" rel="noopener">Modscanner API</a></li>
          <li><a href="https://developer.spotify.com/documentation/web-api" target="_blank" rel="noopener">Spotify Web API</a></li>
          <li><a href="https://7tv.io/docs" target="_blank" rel="noopener">7tv API</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__column">
      <h3>Community</h3>
      <div class="md-copyright__highlight">
        <ul>
          <li><a href="https://discord.gg/FnGFbzCw2r" target="_blank" rel="noopener">Discord Server</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="md-copyright">
    <div class="md-copyright__highlight footer__copyright">
      {{ config.copyright }}
      <br>
      This website and the ApuJar chatbot are not affiliated, associated, authorized, endorsed by, or in any way officially connected
      to <a href="https://twitch.tv" target="_blank" rel="noopener">Twitch</a>, or any of its subsidiaries or its affiliates.
      <br>
      <a href="/legal/privacy-policy.html" target="_blank" rel="noopener">Privacy Policy</a> | 
      <a href="/legal/terms-of-service.html" target="_blank" rel="noopener">Terms of Service</a>
    </div>
  </div>
</div>